body {
  margin: 0;
  font-family: 'novel-mono-pro', monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25em;
  position: relative;
  z-index: 3;
  &.active {
    justify-content: flex-end;

    h1 {
      display: none;
    }
    button#nav {
      background: black;
      fill: white;
      &:hover {
        background: white;
        fill: black;
      }
    }
  }

  h1 {
    font-size: 1em;
    margin: 1rem;
    font-weight: 400;
    a {
      color: black;
      text-decoration: none;
    }
  }

  button#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    appearance: none;
    background: none;
    border: none;
    fill: black;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    cursor: pointer;
    svg {
      width: 0.8em;
      height: 0.8em;
    }
    &:hover {
      background: black;
      fill: white;
    }
  }
}

nav {
  display: none;
  opacity: 0;
  background: black;
  color: white;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
  transition: all 0.25s;
  inset: 0;
  padding-top: 4rem;
  &.active {
    display: block;
    opacity: 1;
  }

  ul {
    margin: 0;
    padding: 0 1em;
    list-style: none;

    li {
      font-size: 1.25em;
      margin: 0.5rem 0;

      a {
        display: block;
        padding: 0.25rem 0;
        color: white;
        text-decoration: none;
        line-height: 1.25em;
        &::before {
          content: '*';
          margin-right: 0.75em;
          vertical-align: middle;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  margin: 1rem 0;

  h2 {
    font-size: 1.75em;
    font-weight: 600;
    margin: 1rem;
  }

  p {
    margin: 1rem;
  }

  section#gallery {
    div#img {
      height: 12rem;
      margin: 0 1rem;
      background: no-repeat center;
      background-size: cover;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0.25rem 1rem 0 1rem;
      padding: 0;

      li {
        width: 4em;
        height: 2.5em;
        margin: 0 0.25rem 0.25rem 0;
        padding: 0;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          &.active {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
