body {
  margin: 0;
  font-size: 1rem;
  font-family: 'novel-mono-pro', monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}
a {
  color: black;
}
strong {
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25em;
  position: relative;
  z-index: 5;
  &.active {
    width: 50%;
    justify-content: flex-end;
    align-self: flex-end;

    h1 {
      display: none;
    }
    button#nav {
      background: black;
      fill: white;
      @media (hover: hover) {
        &:hover {
          background: white;
          fill: black;
        }
      }
    }
  }

  h1 {
    font-size: 1em;
    margin: 1rem;
    font-weight: 400;
    a {
      color: black;
      text-decoration: none;
    }
  }

  button#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    appearance: none;
    background: none;
    border: none;
    fill: black;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    cursor: pointer;
    svg {
      width: 0.8em;
      height: 0.8em;
    }
    @media (hover: hover) {
      &:hover {
        background: black;
        fill: white;
      }
    }
  }

  @media print {
    h1 {
      font-size: 1.25rem;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;
    }
    button#nav {
      display: none;
    }
  }
}

nav {
  display: none;
  opacity: 0;
  background: black;
  color: white;
  position: fixed;
  z-index: 3;
  overflow-y: scroll;
  transition: all 0.25s;
  inset: 0;
  padding-top: 1rem;
  &.active {
    display: block;
    opacity: 1;
  }

  aside {
    padding: 0 1rem;
    margin: 0 0 2rem 0;
    position: relative;
    z-index: 10;
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }

    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
      &::before {
        content: '- ';
      }
      &:first-child {
        color: black;
        background: white;
        cursor: default;
        &::before {
          content: '';
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;

    li {
      font-size: 1.25em;
      margin: 0.5rem 0;

      a {
        display: block;
        padding: 0.25rem 0;
        color: white;
        text-decoration: none;
        line-height: 1.25em;
        &::before {
          content: '*';
          margin-right: 0.75em;
          vertical-align: middle;
          text-decoration: none;
        }
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &.sections {
      li {
        a {
          font-weight: 600;
          &::before {
            content: '+';
          }
        }
      }
    }
    &.social {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      li {
        width: 3em;
        height: 3em;
        margin-left: 0.5em;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          border: 0.0625em solid white;
          box-sizing: border-box;
          margin-top: 0.60625em;

          a {
            color: white;
            line-height: 2em;
            text-align: center;
            &::before {
              content: '+';
            }
          }
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;

          &::before {
            content: '';
            margin-right: 0;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  h4 {
    &::after {
      content: '***';
      display: block;
      position: relative;
      top: 0.125rem;
    }
    font-weight: 400;
    font-size: 1.25em;
    margin: 2rem 1rem 0 1rem;

    abbr {
      text-decoration: none;
    }
  }
}

main {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  @media screen and (min-width: 64rem) {
    margin: 2rem auto;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 1rem 1rem 2rem 1rem;
    @media screen and (min-width: 48rem) {
      margin: 0 1rem 3rem 1rem;
      font-size: 1.75em;
    }
  }
  p {
    margin: 1rem;
  }

  section#gallery {
    margin: 0 1rem 3rem 1rem;

    ul {
      position: relative;
      display: block;
      width: 100%;
      height: 20rem;
      list-style: none;
      margin: 0;
      padding: 0;
      background-image: url('/assets/loading.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem;
      @media screen and (min-width: 48rem) {
        height: 30rem;
      }

      li {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: opacity 0.25s;
        &.active {
          display: flex;
        }

        a {
          display: block;
          width: auto;
          height: 100%;
          margin: 0 auto;
          text-decoration: none;
        }
        img {
          display: block;
          max-width: 100%;
          width: auto;
          height: 100%;
          margin: 0 auto;
          object-fit: contain;
        }
        p {
          position: absolute;
          bottom: 0;
          background: rgba(255, 255, 255, 0.75);
          margin: 0;
          padding: 0 0.25rem 0.25rem 0;
          font-size: 0.85rem;
        }
      }
    }
    &.descriptive {
      ul {
        height: 24rem;
        @media screen and (min-width: 48rem) {
          height: 34rem;
          li p {
            font-size: 1rem;
          }
        }
      }
    }
    div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 0.125rem;
      @media screen and (min-width: 48rem) {
        margin: 0.125rem 6rem 0 6rem;
      }

      button {
        appearance: none;
        display: block;
        width: 4rem;
        height: 2.5rem;
        margin: 0.125rem;
        padding: 0;
        border: none;
        border-radius: none;
        background: no-repeat center;
        background-size: cover;
        cursor: pointer;
        &.active {
          opacity: 0.5;
        }
        @media screen and (min-width: 48rem) {
          width: 5rem;
          height: 3.125rem;
        }
      }
    }

    @media print {
      ul {
        height: 36rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 33%);
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
        background: none;
        overflow: hidden;

        li {
          position: static;
          display: block;
          max-height: 12rem;
          &:first-child {
            max-height: 25rem;
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        &:has(> :last-child:nth-child(1)) {
          grid-template-columns: 1fr;
          grid-template-rows: 100%;

          li:first-child {
            grid-column: 1;
          }
        }
        &:has(> :last-child:nth-child(2)) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 100%;
        }
        &:has(> :last-child:nth-child(1)),
        &:has(> :last-child:nth-child(2)) {
          height: 24rem;
          li {
            max-height: 100% !important;
            &:first-child {
              grid-row: 1;
            }
          }
        }
      }

      div {
        display: none;
      }

      &.descriptive {
        ul {
          display: block;
          height: auto;
          li {
            min-height: 18rem;
            margin-bottom: 2rem;
            height: auto;
            display: flex;
            flex-direction: row-reverse;
            max-height: 100%;
            align-items: center;
            img {
              break-inside: avoid;
              width: auto;
              object-fit: contain;
            }
            p {
              width: 40%;
              position: static;
            }
          }
        }
      }
    }
  }

  section#social {
    display: grid;
    margin: 0 1rem 3rem 1rem;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: dense;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-image: url('/assets/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    min-height: 40vh;

    article {
      margin: 0;
      padding: 0;

      button.open {
        display: block;
        appearance: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        background-size: cover;
      }
      button.close {
        display: block;
        font-size: 1.5em;
        appearance: none;
        background: white;
        border: none;
        color: black;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 15;
        &::before {
          content: '\d7';
          line-height: 3.5rem;
        }
      }
      div {
        display: none;
        opacity: 0;
        background: black;
        color: white;
        position: fixed;
        z-index: 10;
        overflow-y: scroll;
        transition: all 0.25s;
        padding: 4rem 0 2rem 0;
        inset: 0;

        img,
        blockquote {
          display: block;
          width: calc(100% - 4rem);
          height: auto;
          max-width: 32rem;
          margin: 1rem auto;
          padding: 0;
        }
        p {
          margin: 0.25rem 0;
          padding: 0;
        }
      }
      &.active {
        div {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  @media print {
    p {
      font-size: 0.85rem;
      break-inside: avoid;
      &:last-child {
        margin-bottom: 2rem;
      }
    }
    h2 {
      font-size: 1.25rem;
    }
  }
}

footer {
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.25em;
  margin: auto 1rem 1rem 1rem;
  p {
    margin: 0;
    &:first-child {
      margin-top: 2rem;
    }
  }

  @media print {
    display: none;
  }
}
